.header__login {
  display: flex;
  align-items: center;

  .header__login_img {
    margin-left: 7px;
    cursor: pointer;
  }

  .logout_btn {
    margin-left: 10px;
    width: 85px;
    height: 35px;
  }
}

button[disabled] {
  background: rgb(184, 184, 184);
}